@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Mini Pizza';
  src: url(./fonts/Mini\ Pizza.ttf);
}

@font-face {
  font-family: 'Simply the Best';
  src: url(./fonts/KGSimplytheBest.ttf);
}

body {
  background: linear-gradient(
    -45deg,
    #ff6ad5,
    #c774e8,
    #ad8cff,
    #8795e8,
    #94d0ff,
    #10d7ae
  );
  background-size: 400% 400%;
  animation: gradients 60s ease infinite;
  height: 100vh;
}

/* TV static effect */
.tv-static::before {
  content: '';
  display: block;
  position: absolute;
  top: -3rem;
  left: -1.5rem;
  z-index: 1;
  width: calc(100% + 3rem);
  height: calc(100% + 6rem);
  background-image: linear-gradient(
      0deg,
      rgba(0, 255, 255, 0.1) 0%,
      rgba(0, 255, 255, 0.1) 25%,
      rgba(0, 255, 255, 0.05) 50%,
      rgba(0, 255, 255, 0.05) 90%,
      rgba(0, 255, 255, 0.1) 100%
    ),
    linear-gradient(
      0deg,
      rgba(255, 0, 0, 0.1) 0%,
      rgba(255, 0, 0, 0.1) 15%,
      rgba(255, 0, 0, 0.05) 40%,
      rgba(255, 0, 0, 0.05) 90%,
      rgba(255, 0, 0, 0.1) 100%
    );
  background-size: 100% 1rem;
  pointer-events: none;
  animation: scroll 3s linear infinite;
}

/* Custom text shadow for h1 elements */
.text-outline-red {
  text-shadow: 2px 2px hsl(0, 100%, 50%), -2px 2px hsl(0, 100%, 50%),
    2px -2px hsl(0, 100%, 50%), -2px -2px hsl(0, 100%, 50%);
}

.text-outline-orange {
  text-shadow: 2px 2px hsl(40, 100%, 50%), -2px 2px hsl(40, 100%, 50%),
    2px -2px hsl(40, 100%, 50%), -2px -2px hsl(40, 100%, 50%);
}

.text-outline-green {
  text-shadow: 2px 2px hsl(100, 100%, 50%), -2px 2px hsl(100, 100%, 50%),
    2px -2px hsl(100, 100%, 50%), -2px -2px hsl(100, 100%, 50%);
}

.text-outline-cyan {
  text-shadow: 2px 2px hsl(180, 100%, 50%), -2px 2px hsl(180, 100%, 50%),
    2px -2px hsl(180, 100%, 50%), -2px -2px hsl(180, 100%, 50%);
}

.text-outline-blue {
  text-shadow: 2px 2px hsl(200, 100%, 50%), -2px 2px hsl(200, 100%, 50%),
    2px -2px hsl(200, 100%, 50%), -2px -2px hsl(200, 100%, 50%);
}

.text-outline-purple {
  text-shadow: 2px 2px hsl(280, 100%, 50%), -2px 2px hsl(280, 100%, 50%),
    2px -2px hsl(280, 100%, 50%), -2px -2px hsl(280, 100%, 50%);
}

.text-outline-pink {
  text-shadow: 2px 2px hsl(320, 100%, 50%), -2px 2px hsl(320, 100%, 50%),
    2px -2px hsl(320, 100%, 50%), -2px -2px hsl(320, 100%, 50%);
}
